:root {
    font-family:Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background-color:gold;
}

h3 {
    margin:0px 15px 0px 0px;
}

.list-header{
    padding:0px 0px 15px 0px;
}

.meta-header {
    background-color:maroon;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    color:gold;
    border-radius:25px;
    align-items:center;
    margin: 10px;
    padding: 30px;
}

.alcohol-type {
    color: gold;
    background-color:maroon;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    border-radius:25px;
    align-items:center;
    justify-content:center;
    margin:10px;
    padding:10px;
}

.alcohol-type select {
    padding:4px;
    border-radius:25px;
    border:none;
    background-color:gold;
    color:maroon;
    font-weight:bold;
}

.alcohol-type select:hover {
    background-color:white;
}

.alcohol-type input {
    margin:15px;
    border-radius:25px;
    border:none;
    background-color:gold;
    color:maroon;
    font-weight:bold;
}

.alcohol-type input:hover {
    background-color:white;
}

.recipe-list {
    color: gold;
    background-color:maroon;
    display:flex;
    flex-direction:column;
    border-radius:25px;
    align-items:center;
    margin:10px;
    padding: 10px;
}

  /*Just flexbox - no columns*/

  .flex-container {
      display: flex;
      flex-wrap: wrap;
      font-size: 30px;
      text-align: center;
  }

  .flex-item {
    padding: 10px;
    flex: 20%;
    padding:15px;
    margin:10px;
    background-color:gold;
    color:maroon;
    border-radius:25px;
  }

  .flex-item h4 {
    font-weight:bold;
  }

  .flex-item img {
      width:100%;
      height:auto;
      border-radius:25px;
  }

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
     .flex-item {
      flex: 33%;
    }
  }

  @media (max-width: 425px) {
    .flex-item {
     flex: 100%;
   }
 }


/*.recipe-list {
    
    margin: 0;
    padding: 0px 0px 10px 0px;
    display:inline-block;
}*/